$color-black: #000000;
$color-white: #ffffff;
$color-gray: #cccccc;

$common-font-color: #303030;
$common-back-color: #e6e6e6;
$scrollbar-thumb-color: #bdbbbb;
$scrollbar-track-color: #303030;
$dialog-title-color: #091933;
