v-container.signin(text-center)
  v-layout(row justify-center)
    v-flex(xs12).mt-6
      .display-1.font-weight-light {{ title }}
    v-flex.mt-6(xs10 sm7 md6 lg5 xl3)
      v-form(v-model="valid" lazy-validation)
        v-text-field(v-model="mailAddress" label="MailAddress" required :rules="mailAddressRules")
        v-text-field(v-model="password" label="Password" required type="password" :rules="passwordRules")
        v-btn.my-2(:disabled="!valid" color="primary" large @click="submitSignUp") サインアップ
    v-flex(xs12)
      v-btn.my-2(color="success" large @click="linkSignin()") 戻る
