@import "../../common/styles/config";

.chat {
  .chat-area {
    position: relative;

    .message-area {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-thumb {
        background: rgba($scrollbar-thumb-color, .6);
        border-radius: 8px;
      }

    }
  }

  .chat-button {
    bottom: 16px !important;
  }
}
