v-container.chat(text-center)
  .display-1.font-weight-light.mt-6 {{ title }}
  v-layout.mt-6(row justify-center)
    v-flex(xs10 sm8 md7 lg6 xl4)
      v-card.chat-area.overflow-y-hidden.pl-2(:height=720)
        v-btn.chat-button(color="primary" depressed absolute bottom right fab @click="chatModal = true")
          v-icon chat
        v-sheet.message-area(:height=720)
          template(v-for="message, i in messages")
            v-list-item(:key="`${i}-${message.id}`")
              v-layout.pl-4.py-2(row text-left)
                v-flex(xs12)
                  .title.font-weight-regular {{ message.text }}
                v-flex(xs6)
                  .subtitle-2.font-weight-regular {{ message.create_time }}
            v-divider(v-if="i !== messages.length - 1" :key="`${i}-divider`")
  v-dialog(v-model="chatModal" width=600)
    v-card.modal-dialog.py-4
      v-container
        v-layout(row justify-center)
          v-flex(xs10 text-center)
            v-text-field(v-model="newMessage" label="Send Message")
            v-btn(color="primary" large depressed @click="sendMessage()") Send


